.card{
    margin: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.10);
    padding: 10px;
    border-radius: 10px;

    p{
        background-color: #cc7351;
        border: none;
        padding: .3em .8em;
        border-radius: .3em;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        width: fit-content;
    }

    a{
        color: rgb(41, 41, 41);
        text-decoration: none;
    }
}


